<% if Author.first.name.present? %>
  <% content_for :title, Author.first.name + " - " + @post.title %>
<% else %>
  <% content_for :title, @post.title %>
<% end %>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class="card post-card mb-5">
      <div class="header-image" style="background-image: url(<%= url_for(@post.header_image) %>)"></div>
      <div class="card-body">
        <div class='pe-5 ps-5'>
          <em>
            <i class="fas fa-calendar-alt"></i>
            <small>
              <%= @post.published_at.to_s(:nozone)%>
              </small>
          </em>
          <br>
          <em>
            <i class="fas fa-clock"></i>
            <small>Reading time:
              <%= reading_time(@post) %>   min
            </small>
          </em>
          <h1 class="mb-4"><%= @post.title%></h1>
          <% @post.elements.order(position: :asc).each do |element| %>
            <% if element.image? %>
              <div class="image-element mb-5">
                <%= image_tag(element.image)%>
                <% if element.description.present? %>
                  <div class="mt-1">
                    <em><small><%= element.description %></small></em>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="content-element mb-5">
                <%= element.content %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="pe-5 ps-5">
          <% if @post.author.avatar.attached? || @post.author.bio.present? || @post.author.name.present? %>
            <%= render 'author', post: @author %>
          <% end %>
        </div>
      </div>
      <% if @tags.present? %>
        <div class="card-footer d-flex justify-content-center">
          <% @tags.each do |tag |%>
            <%= link_to tag.name, tagged_path(tag: tag), class:"badge bg-secondary me-1 unstyled-link", style: 'color:#FFFFFF;' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>