<% if Author.first.name.present? %>
  <% content_for :title, Author.first.name + " - About" %>
<% else %>
  <% content_for :title, "About" %>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="section-title">
      <h2>About</h2>
      <div class="content-element mb-3">
        <%= @about.description %>
      </div>
    </div>
    <div class="row">
      <% if @about.image.present? %>
        <div class="col-lg-4 pt-2 text-center">
          <%= image_tag(@about.image_medium, class: "img-fluid") %>
        </div>
      <% end %>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3><%= @about.title %></h3>
        <% if @list_texts.present? %>
          <ul class="pt-2" style="column-count: 2; column-width: 300px;">
            <% @list_texts.each do |list_text| %>
              <% if (list_text.title.present? && list_text.description.present?) %>
                <% if (list_text.title.length > 0 && list_text.description.length > 0) %>
                  <li>
                    <b><%= list_text.title %>: </b><%= list_text.description %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
        <p class="text-break"><%= @about.body %></p>
      </div>
    </div>
  </div>
</div>