<div class="section-title">
  <h2>About</h2>
  <p class="text-break"><%= @about.description %></p>
</div>
<div class="row">
  <% if @about.image.present? %>
    <div class="col-lg-4 text-center">
      <%= image_tag(@about.image_medium, class: "img-fluid") %>
    </div>
  <% end %>
  <div class="col-lg-8 pt-4 pt-lg-0 content">
    <h3><%= @about.title %></h3>
    <% if @list_texts.present? %>
      <ul style="column-count: 2; column-width: 300px;">
        <% @list_texts.each do |list_text| %>
          <li>
            <b><%= list_text.title %>: </b><%= list_text.description %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <p class="text-break"><%= @about.body %></p>
  </div>
</div>