<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-1 rounded-pill">
  <div class="container container-fluid">
    <%= link_to "Fritjof Höst", root_path, class: "navbar-brand text-uppercase font-weight-bold align-middle" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if About.count > 0 %>
          <li class="nav-item"><%= link_to 'About', about_path, class: "nav-link text-uppercase font-weight-bold align-middle" %></li>
        <% end %>
        <li class="nav-item"><a href="https://www.linkedin.com/in/fritjof-h%C3%B6st/" class="nav-link text-uppercase font-weight-bold align-middle">Contact</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if author_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-item">
                <%= link_to 'Posts', posts_path, class: "nav-link font-weight-bold align-middle" %>
              </li>
              <li class="dropdown-item">
                <%= link_to 'Stats', stats_path, class: "nav-link font-weight-bold align-middle" %>
              </li>
              <li class="dropdown-item">
                <%= link_to 'Edit User', edit_author_registration_path, class: "nav-link font-weight-bold align-middle" %>
              </li>
              <li class="dropdown-item">
                <%= link_to 'Edit About', new_about_path, class: "nav-link font-weight-bold align-middle" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item">
                <%= button_to 'Sign Out', destroy_author_session_path, method: :delete, class: "nav-link align-middle btn btn-link" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to(new_author_session_path, method: :get, class: 'btn btn-link', style: 'text-decoration: none;') do %>
              <i class="nav-link fas fa-sign-in-alt align-middle"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>